.container {
  align-items: center;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  font: 1.3em sans-serif;
  height: 90px;
  justify-content: space-around;
  width: 100%;
}

.total__expense {
  color: rgba(0, 59, 229, 1);
}

.expense {
  margin: auto 5px;
}

.icon__expense {
  margin-right: 5px;
  position: relative;
  top: 10px;

}

.icon__person {
  margin-right: 5px;
  position: relative;
  top: 8px;
}

.email {
  color: rgba(47, 193, 140, 1);
}
