.btn_add_editing {
  background-color: rgba(47, 193, 140, 1);
  color: white;
  font-size: 14px;
  height: 40px;
  width: 330px;
}

.container__btn {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
